.itemWrapper {
  display: flex;
  height: 90px;
  padding: 5px;
  margin: 20px 0 0;
  overflow: hidden;
  background-color: rgb(119, 119, 119);
  border-radius: 10px;
}

.poster {
  width: 140px;
  overflow: hidden;
  object-fit: cover;

  & img {
    width: inherit;
  }
}
