@import '/src/styles/constants/colors';

.wrapper {
  position: absolute;
  top: 5px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 49px;
  padding: 15px 15px 5px;

  & .title {
    color: rgb(240, 240, 240);
  }

  & button {
    cursor: pointer;
  }
}

.searchInput {
  width: 0%;
}

.searchForm {
  width: 0;
  padding: 5px;
  opacity: 0;

  & button {
    color: rgb(240, 240, 240);
  }
}

button {
  height: 100%;
}

.searchBarOpen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: rgba(240, 240, 240, 56.2%);
  border-radius: 15px;
  opacity: 1;

  & ~ .title {
    opacity: 0;
  }

  .searchInput {
    width: 100%;
    transition: all 0.1s linear;
  }
}

.searchToggleButton {
  color: rgb(255, 255, 255);
}

.searchButton {
  display: none;
}

.darkMode {
  & > button {
    width: 30px;
    color: rgb(245, 233, 69);
  }
}
