@use 'styles/mixins/_animation';
@use 'styles/constants/colors';

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 5em;
  color: colors.$ORANGE;
  transform: translate(-50%, -50%);

  & svg {
    animation: rotation 0.5s linear infinite;
  }
}
